Backup/RestCsharp/Connected Services/servicioFacturacion2021/billService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service.sunat.gob.pe" targetNamespace="http://service.sunat.gob.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getStatus" type="tns:getStatus" />
  <xs:element name="getStatusResponse" type="tns:getStatusResponse" />
  <xs:element name="sendBill" type="tns:sendBill" />
  <xs:element name="sendBillResponse" type="tns:sendBillResponse" />
  <xs:element name="sendPack" type="tns:sendPack" />
  <xs:element name="sendPackResponse" type="tns:sendPackResponse" />
  <xs:element name="sendSummary" type="tns:sendSummary" />
  <xs:element name="sendSummaryResponse" type="tns:sendSummaryResponse" />
  <xs:complexType name="sendSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="fileName" type="xs:string" />
      <xs:element xmlns:ns1="http://www.w3.org/2005/05/xmlmime" ns1:expectedContentTypes="application/octet-stream" minOccurs="0" name="contentFile" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="1" name="partyType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendSummaryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ticket" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="ticket" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="status" type="tns:statusResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="statusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="statusCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendPack">
    <xs:sequence>
      <xs:element minOccurs="0" name="fileName" type="xs:string" />
      <xs:element xmlns:ns2="http://www.w3.org/2005/05/xmlmime" ns2:expectedContentTypes="application/octet-stream" minOccurs="0" name="contentFile" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="1" name="partyType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendPackResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ticket" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendBill">
    <xs:sequence>
      <xs:element minOccurs="0" name="fileName" type="xs:string" />
      <xs:element xmlns:ns3="http://www.w3.org/2005/05/xmlmime" ns3:expectedContentTypes="application/octet-stream" minOccurs="0" name="contentFile" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="1" name="partyType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendBillResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="applicationResponse" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>