Backup/RestCsharp/Connected Services/servicioFacturacion2021/billService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsp200607="http://www.w3.org/2006/07/ws-policy" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://service.gem.factura.comppago.registro.servicio.sunat.gob.pe/" xmlns:ns1="http://service.sunat.gob.pe" xmlns:ns2="http://www.datapower.com/extensions/http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp200409="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.sunat.gob.pe" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:schema>
      <xsd:import schemaLocation="billService.xsd2.xsd" namespace="http://service.sunat.gob.pe" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getStatus">
    <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:getStatus" />
  </wsdl:message>
  <wsdl:message name="getStatusResponse">
    <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:getStatusResponse" />
  </wsdl:message>
  <wsdl:message name="sendBill">
    <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:sendBill" />
  </wsdl:message>
  <wsdl:message name="sendBillResponse">
    <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:sendBillResponse" />
  </wsdl:message>
  <wsdl:message name="sendPack">
    <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:sendPack" />
  </wsdl:message>
  <wsdl:message name="sendPackResponse">
    <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:sendPackResponse" />
  </wsdl:message>
  <wsdl:message name="sendSummary">
    <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:sendSummary" />
  </wsdl:message>
  <wsdl:message name="sendSummaryResponse">
    <wsdl:part xmlns:xsns="http://service.sunat.gob.pe" name="parameters" element="xsns:sendSummaryResponse" />
  </wsdl:message>
  <wsdl:portType name="billService">
    <wsdl:operation name="getStatus">
      <wsdl:input name="getStatusRequest" message="ns1:getStatus" />
      <wsdl:output name="getStatusResponse" message="ns1:getStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendBill">
      <wsdl:input name="sendBillRequest" message="ns1:sendBill" />
      <wsdl:output name="sendBillResponse" message="ns1:sendBillResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendPack">
      <wsdl:input name="sendPackRequest" message="ns1:sendPack" />
      <wsdl:output name="sendPackResponse" message="ns1:sendPackResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendSummary">
      <wsdl:input name="sendSummaryRequest" message="ns1:sendSummary" />
      <wsdl:output name="sendSummaryResponse" message="ns1:sendSummaryResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>